.page-home {

  .font {
  	position: relative;
    text-align: center;
    font-size: 2.0em;
    font-weight: bold;
    color: #000;
    }

  .ion-md-add {
	  color: #757575;
	}

  .ion-md-hammer {
	  color: #757575;
	}

  .ion-md-close {
	  color: #757575;
	}

}